PartnerNet/PartnerNet.Grundfos.StockForecast/ControlStock.WebSite/reports/ordcompras.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ordcompras" targetNamespace="http://tempuri.org/ordcompras.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/ordcompras.xsd" xmlns:mstns="http://tempuri.org/ordcompras.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dsOrdCompras">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="POCode" type="xs:string" />
        <xs:element name="PODate" type="xs:date" />
        <xs:element name="POProvider" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>